text-center {
    text-align: center;
  }

  .justify-evenly {
    justify-content: space-evenly;
  }

  .items-center {
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    .text-center {
      text-align: left;
    }

    .justify-evenly {
      justify-content: flex-start;
    }
  }
